beautifulsoup4==4.4.0
braintree==3.19.0
bs4==0.0.1
defusedxml==0.5.0
dj-database-url==0.4.1
Django==1.9.7
django-admin-sortable2==0.6.4
django-allauth==0.23.0
django-angular==0.8.4
django-annoying==0.10.3
django-appconf==1.0.1
django-bootstrap3==8.1.0
django-classy-tags==0.7.2
django-cms==3.4.2
django-crispy-forms==1.5.0
django-filer==1.2.6
django-filter==0.11.0
django-formtools==1.0
django-fsm==2.4.0
django-fsm-admin==1.2.4
django-hitcount==1.2.2
django-ipware==1.1.6
django-markdown-app==0.9.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-post-office==2.0.8
django-registration-redux==1.2
django-rest-auth==0.9.0
django-sekizai==0.10.0
Django-Select2==5.8.10
django-taggit==0.22.0
django-treebeard==4.1.0
djangocms-admin-style==1.2.6.2
djangorestframework==3.5.4
easy-thumbnails==2.3
gunicorn==19.6.0
jsonfield==1.0.3
Markdown==2.6.8
oauthlib==1.0.3
olefile==0.44
Pillow==4.0.0
python3-openid==3.1.0
pytz==2016.10
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
Unidecode==0.4.20
virtualenv==15.1.0
